#landing-image {
  width: 60vw;
  height: 100%;
  background-image: url(../../../assets/img/landing-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(239, 237, 237);
}

.home-page {
  height: 100vh;
  width: 50vw;
  background-color: rgb(239, 237, 237);

  .welcome-card {
    .title {
      font-size: 2.3em;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: var(--primary-color);

    .subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 7rem;
      text-align: center;
      margin-top: 2em;
    }
  }

  .buttons {
    margin-top: 4em;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    .p-button {
      height: 4rem;
      width: 9rem;
      font-size: 1em;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.skeleton-container {
  margin-top: 20vh;
  display: flex;
  margin-left: 2vw;
}

@media screen and (max-width: 1100px) {
  #landing-image {
    display: none;
  }
  .home-page {
    width: 100vw;

    justify-content: center;
    align-items: center;
  }
}

.landing-icon {
  position: absolute;
  right: 0;
  padding: 10px;
  i {
    font-size: 3em;
  }
}

@media (min-width: 700px) {
  .home-page {
    overflow: hidden;
  }
}
