<div class="home-page">
  <section class="welcome-card" *ngIf="!showCreate" [@exitAnimationY]>
    <h2 class="title text-center">Bienvenido a Feedbackcito</h2>
    <div class="subtitle">
      ¿Que quieres hacer?
      <div class="buttons">
        <button pButton pRipple class="p-button-raised p-button-primmary" (click)="toggleShowCreate()">
          Participar
        </button>
        <button pButton pRipple class="p-button-raised p-button-primmary" (click)="toggleShowCreate()">
          Crear
        </button>
      </div>
    </div>
  </section>

  <section *ngIf="showCreate" [@enterAnimationY]>
    <fc-create-form (back)="toggleShowCreate()"></fc-create-form>
  </section>

  <div id="landing-image"></div>
</div>
